body {
    background-color: #161b22;
    color: whitesmoke;
    /* align-content: center; */
    text-align: center;
    vertical-align: middle;
}

a {
  color: #8ebf42;
}

.horizontal-div {
    display: inline-block;
    vertical-align: top;
}